@import url(https://fonts.googleapis.com/css?family=Roboto);
* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-size: 100%;
    height: 90%;
    zoom: 1;
    text-align: center;
    background-image: url("back.jpg");
    background-size: cover;
    width: 90%;
}

h1,
h3 {
    display: block;
    margin: 10px;
}

h1 {
    color: #666;
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    color: #888;
}

p {
    font-size: 1em;
    line-height: 1.4em;
}

a {
    color: white;
}

a,
a:hover {
    text-decoration: none;
}

blockquote {
    color: #888;
    margin: 20px 0 20px 20px;
}

blockquote:before,
blockquote:after {
    content: '"';
}

input[type="button"] {
    background: blue;
    border: none;
    color: white;
    text-transform: uppercase;
    width: 100px;
    height: 45px;
    padding: 5px;
    outline: 0;
    cursor: pointer;
    border-radius: 5px;
}

input.discard {
    background: maroon;
}


/*.intro {
  position: relative;
  margin: 10px;
  width: 40%;
  height: auto;
  color: #444;
}*/

.deck {
    position: relative;
    background: transparent;
    margin: 3em;
    width: 99%;
    height: auto;
}

.card {
    position: relative;
    display: inline-block;
    background: transparent;
    color: #000;
    width: 150px;
    height: 200px;
    margin-right: 20px;
    cursor: pointer;
}

.suit {
    position: relative;
    color: #AAA;
    text-align: left;
}

.card .face {
    background-size: cover;
    position: absolute;
    border: 1px solid #333;
    color: transparent;
    width: 150px;
    height: 200px;
    line-height: 3em;
    text-align: center;
    text-transform: capitalize;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #555;
    /* Slim drop shadow so as not to bleed into the bounding box of the next card  */
}

.card .front {
    background: olive url("spadesgit.png");
    background-size: cover;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    transition: all .4s ease-in-out;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    z-index: 10;
}

.card:nth-child(1) {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    -webkit-animation: drop1 .5s ease-in;
    animation: drop1 .5s ease-in;
}

.card:nth-child(2) {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    -webkit-animation: drop2 .5s ease-in;
    animation: drop2 .5s ease-in;
}

.card:nth-child(3) {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    -webkit-animation: drop3 .5s ease-in;
    animation: drop3 .5s ease-in;
}

.card:nth-child(4) {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    -webkit-animation: drop4 .5s ease-in;
    animation: drop4 .5s ease-in;
}

.card:nth-child(5) {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    transform: rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    -webkit-animation: drop5 .5s ease-in;
    animation: drop5 .5s ease-in;
}


/* Deal cards and apply some random spin  */

@-webkit-keyframes drop1 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
    }
    100% {
        -webkit-transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    }
}

@keyframes drop1 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-25deg);
    }
    100% {
        -webkit-transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
        transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-45deg);
    }
}

@-webkit-keyframes drop2 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
    }
    100% {
        -webkit-transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
        transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    }
}

@keyframes drop2 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(-10deg);
    }
    100% {
        -webkit-transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
        transform: scale(0.97, 0.97) rotateX(0deg) rotateY(0deg) rotateZ(-20deg);
    }
}

@-webkit-keyframes drop3 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(-50deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(-50deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(50deg) rotateZ(25deg);
        transform: rotateX(0deg) rotateY(50deg) rotateZ(25deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@keyframes drop3 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(-50deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(-50deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(50deg) rotateZ(25deg);
        transform: rotateX(0deg) rotateY(50deg) rotateZ(25deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
}

@-webkit-keyframes drop4 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    }
}

@keyframes drop4 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg);
        transform: rotateX(0deg) rotateY(0deg) rotateZ(10deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(20deg);
    }
}

@-webkit-keyframes drop5 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(50deg) rotateZ(-10deg);
        transform: rotateX(0deg) rotateY(50deg) rotateZ(-10deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    }
}

@keyframes drop5 {
    0% {
        -webkit-transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
        transform: scale(2, 2) rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    50% {
        -webkit-transform: rotateX(0deg) rotateY(50deg) rotateZ(-10deg);
        transform: rotateX(0deg) rotateY(50deg) rotateZ(-10deg);
    }
    100% {
        -webkit-transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
        transform: scale(0.98, 0.98) rotateX(0deg) rotateY(0deg) rotateZ(40deg);
    }
}

.card .back {
    background: url("gitcard.jpg");
    background-size: cover;
    -webkit-transform: rotateX(0deg) rotateY(180deg);
    transform: rotateX(0deg) rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5;
}


/* Flip the card and apply easing */

.card.flip .front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 900;
}

.card.flip .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
    z-index: 1000;
}

img {
    height: 8.5rem;
    width: 5rem;
    position: relative;
    padding-top: 3rem;
    right: 0rem;
}

a {
    position: absolute;
    font-size: 1rem;
    left: -15%;
    bottom: 12%;
    width: 12rem;
    color: white;
}

p {
    position: absolute;
    font-size: .7rem;
    left: 3%;
    bottom: 12%;
    color: lightgrey;
    width: 9rem;
}

h1 {
    position: absolute;
    font-size: .35rem;
    bottom: -13%;
    color: lightgrey;
    width: 10rem;
    left: -6%;
    word-spacing: 2rem;
}

h2 {
    position: absolute;
    font-size: .8rem;
    bottom: -4%;
    color: lightgrey;
    width: 15.5rem;
    left: -34%;
    word-spacing: 2.3rem;
}


/* //////////////input//////////////////// */

* {
    margin: 0;
    padding: 0;
}

.cbox,
.container {
    display: inline-block;
}

.container {
    position: relative;
    margin-top: 2rem;
}

.parent {
    width: 200px;
    height: 50px;
    position: relative;
}

.parent .add,
.parent .cbox,
.parent .message {
    position: absolute;
}

.parent .add,
.parent .message {
    color: #3059FE;
}

.parent .add {
    top: -3px;
    right: 25px;
    transition: 0.6s all 0.3s;
    letter-spacing: 1px;
}

.message,
.cbox {
    outline: none;
}

.cbox {
    top: -10px;
    right: -10px;
    width: 1.5rem;
    height: 1.5rem;
    background: #3059FE;
    border-radius: 100%;
    -webkit-appearance: none;
    z-index: 3;
}

.cbox:before,
.cbox:after {
    position: absolute;
    content: '';
    top: .75rem;
    right: .31rem;
    width: 1rem;
    height: 2px;
    background: #E8E8E8;
    transition: 0.4s all;
}

.cbox:after {
    transform: rotate(90deg);
}

.cbox:checked~.message {
    width: 12rem;
    height: 2rem;
    transition: 0.3s width, 0.3s height 0.2s;
}

.cbox:checked:before,
.cbox:checked:after {
    transform: rotate(360deg);
    transition: 0.4s all;
}

.cbox:checked~.add {
    font-size: 13px;
    transform: translateY(-16px);
    transition: 0.3s all;
}

.message {
    right: 0;
    height: 0;
    width: 0;
    transition: 0.4s all;
    background: none;
    border: 2px solid #3059FE;
    transition: 0.4s width 0.2s, 0.1s height;
    font-size: 1rem;
    padding-left: 10px;
}